.postHeader{
    margin-left: 5px;
}
#replyForm{
    margin-bottom: 10px;
}
.replyInput{
    background-color: dimgrey;
}
.replyInput:focus{
    background-color: dimgrey;
    color: white;
}
.replyInput::placeholder{
    color: white;
}

.replyUserDate{
    text-align: center;
}
.replyText{
    text-align: left;
    margin-left: 5px;
}

#closeBtn{
    color: white !important;
    position: absolute;
    top: 25px;
    right: 0px;
}
.closeBtn{
    color: white !important;
}

.replyUserName{
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.userInfo{
    background-color: black;
    border-radius: 5px 0px 0px 5px;
}

.reply{
    margin-bottom: 5px;
}

#submitReplytBtn{
    background-color: black;
    border-color:white;
    float: right;
    padding-left: 50px;
    padding-right: 50px;
}
.postBody{
    font-size: 20px;
}

.backgroundCard{
    background-color: #45454A;
    padding: 20px;
}



