.postCards{
    width: 100%;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    display: block;
}
.postCards:hover{
    cursor: pointer;
}

.postUserText{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.postInputs{
    width: 100%;
    background-color: dimgrey;
    color: white;
}
.postInputs:focus{
    background-color: dimgrey;
    color: white;
}
.postInputs::placeholder{
    color: white;
}

#submitPostBtn{
    width: 100%;
    background-color: black;
    border-color: white;
}



.leftText{
    text-align: left;
}