Table {
    /* width: 50% !important; */
    margin-left: auto;
    margin-right: auto;
    background-color: #212121;
}

td {
    color: #EEEEEE;
    width: 25% !important; 
}

body {
    background-color: #212121 !important;
}

.coin {
    width: 20px;
}